<div class="cover">
    <div class="inner-cover">
        <h1> Hello, <span id="login">{{user.login}}</span>!</h1>
        <form method="post" action="">
            <h5 class="text-uppercase bold main-header"> </h5>
            {{#if errors}}
                <div class="alert alert-danger" role="alert">
                    {{#each errors}}
                        <li>{{this.msg}}</li>
                    {{/each}}
                </div>
            {{/if}}
            <div class="row px-md-5">
                <div class="col-sm-8">
                    <input type="text" id="title" name="title" class="form-control" value="" required>
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-success btn-sm w-100" value="New chat">
                </div>
            </div>
        </form>
        <table class="table table-striped" style="width: 800px" id="chats">
            <tr>
                <td>id</td>
                <td>title</td>
                <td>creator</td>
                <td>messages</td>
                <td>created_at</td>
                <td></td>
            </tr>
                {{#if chats}}
                    {{#each chats}}
                        <tr id="tr{{this.id}}">
                            <td>{{this.id}}</td>
                            <td>
                                <a class=".room-name" href="/chat/{{this.id}}">
                                    {{this.title}}
                                </a>
                            </td>
                            <td>{{this.user.login}}</td>
                            <td>
                                {{#if count}}
                                    {{this.count}}
                                    {{else}} 0
                                {{/if}}
                            </td>
                            <td>{{this.createdAt}}</td>
                            <td>
                                {{#equal this.user.login ../user.login}}
                                    <a class="chatDelete" href="/chat/{{this.id}}"> Delete </a>
                                {{/equal}}
                            </td>
                        </tr>
                    {{/each}}
            {{/if}}
        </table>
    </div>
</div>
<script>
    $(function () {
        const socket = io();
        const title = $('#title');

        $('form').submit(async function(e){
            e.preventDefault();

            let type = 'POST';
            let href = $(this).attr('action');
            let str = $(this).serialize();

            let response = await request(type, href, str, function(result) {
                return result;
            });

            if(response) {
                socket.emit('chatCreate', {chat: response, user: {} });
            }

            title.val(' ');
        });

        socket.on('chatAdd', function(data){
            let link;
            let login = document.getElementById('login').innerHTML;

            if(data.chat.user.login === login) {
                link = `<a class="chatDelete" href="/chat/${data.chat.id}"> Delete </a>`;
            } else {
                link = '';
            }

            let content = `
            <tr id="tr${data.chat.id}">
                <td>${data.chat.id}</td>
                <td>
                    <a href="/chat/${data.chat.id}">
                        ${data.chat.title}
                    </a>
                </td>
                <td>
                    ${data.chat.user.login}
                </td>
                <td>
                    ${data.chat.count}
                </td>
                <td>
                    ${data.chat.createdAt}
                </td>
                <td>
                    ${link}
                </td>
            </tr>`;

            $('#chats').append(content);
        });

        $('#chats').on('click', '.chatDelete', async function(e) {
            e.preventDefault();

            let type = 'DELETE';
            let href = $(this).attr('href');
            let str = {};

            let response = await request(type, href, str, function(result) {
                return result;
            });

            if(response) {
                socket.emit('chatRemove', {id: response.id});
            }

            return false;
        });

        socket.on('chatDelete', function(data) {
            $("#tr"+data.id).remove();
        });
    });
</script>